[submodule "Cicala/vendor/spdlog"]
	path = Cicala/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Cicala/vendor/GLFW"]
	path = Cicala/vendor/GLFW
	url = https://github.com/Shikasar7/glfw
	branch = master
[submodule "Cicala/vendor/imgui"]
	path = Cicala/vendor/imgui
	url = https://github.com/Shikasar7/imgui
	branch = docking
[submodule "Cicala/vendor/glm"]
	path = Cicala/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
