[submodule "Cicala/vendor/spdlog"]
	path = Cicala/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Cicala/vendor/GLFW"]
	path = Cicala/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Cicala/vendor/imgui"]
	path = Cicala/vendor/imgui
	url = https://github.com/TheCherno/imgui
